---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout class="h-[110vh]">
  <div class="bg-accent/30 hover:bg-accent/50 cursor-pointer rounded p-4 text-white transition duration-200">Hello world</div>
</MainLayout>
